@{
    ViewData["Title"] = "Gpu Spec Listing";
}

<div ng-app="PcSalesApp" ng-controller="gpuSpecListController as vm">
    <div class="text-center">
        <h3>GPU Spec Listings</h3>
        <table ng-table="vm.gpuSpecs" class="table table-condensed table-bordered table-striped">
            <thead>
                <tr>
                    <th>Part Number</th>
                    <th>Part Name</th>
                    <th>Manufacturer</th>
                    <th>VRAM</th>
                    <th>Clock Speed</th>
                    <th>ChipSet</th>
                    <th>Memory Type</th>
                    <th>TDP</th>
                </tr>
            </thead>
            <tr ng-repeat="spec in vm.gpuSpecs">
                <td class="text-left">{{spec.partNum}}</td>
                <td class="text-left">{{spec.partName}}</td>
                <td class="text-left">{{spec.manufacturer}}</td>
                <td class="text-left">{{spec.vram}}</td>
                <td class="text-left">{{spec.clockSpeed}}</td>
                <td class="text-left">{{spec.chipSet}}</td>
                <td class="text-left">{{spec.memoryType}}</td>
                <td class="text-left">{{spec.tdp}}</td>
            </tr>
        </table>
    </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
<script type="text/javascript" src="js/site.js"></script>
