@{
    ViewData["Title"] = "PSU Spec Listing";
}

<div ng-app="PcSalesApp" ng-controller="psuSpecListController as vm">
    <div class="text-center">
        <table ng-table="vm.psuSpecs" class="table table-condensed table-bordered table-striped">
            <thead>
                <tr>
                    <th>Part Number</th>
                    <th>Part Name</th>
                    <th>Manufacturer</th>
                    <th>Wattage</th>
                    <th>Modular</th>
                    <th>Efficiency Rating</th>
                    <th>Form Factor</th>
                </tr>
            </thead>
            <tr ng-repeat="spec in vm.psuSpecs">
                <td class="text-left">{{spec.partNum}}</td>
                <td class="text-left">{{spec.partName}}</td>
                <td class="text-left">{{spec.manufacturer}}</td>
                <td class="text-left">{{spec.wattage}}</td>
                <td class="text-left">{{spec.modular == 1 ? "Yes" : "No"}}</td>
                <td class="text-left">{{spec.efficiencyRating}}</td>
                <td class="text-left">{{spec.formFactor}}</td>
            </tr>
        </table>
    </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
<script type="text/javascript" src="js/site.js"></script>
