PcSales/obj/Debug/netcoreapp3.1/Razor/Views/PartSpec/CaseSpecIndex.cshtml.g.cs
PcSales/obj/Debug/netcoreapp3.1/Razor/Views/PartSpec/CpuSpecIndex.cshtml.g.cs
PcSales/obj/Debug/netcoreapp3.1/Razor/Views/PartSpec/GpuSpecIndex.cshtml.g.cs
PcSales/obj/Debug/netcoreapp3.1/Razor/Views/PartSpec/MoboSpecIndex.cshtml.g.cs
PcSales/obj/Debug/netcoreapp3.1/Razor/Views/PartSpec/PsuSpecIndex.cshtml.g.cs
PcSales/obj/Debug/netcoreapp3.1/Razor/Views/PartSpec/RamSpecIndex.cshtml.g.cs
PcSales/obj/Debug/netcoreapp3.1/Razor/Views/PartSpec/StorageSpecIndex.cshtml.g.cs
