@{
    ViewData["Title"] = "Update System";
}

    <div ng-app="PcSalesApp" ng-controller="systemUpdateController as vm">
        <form novalidate class="simple-form">
            <div class="block">
                <label style="display:inline-block; text-align:right; width:140px">System Name:</label>
                <input type="text" ng-model="vm.system.systemName" />
            </div>
            <div class="block">
                <label style="display:inline-block; text-align:right; width:140px">Price:</label>
                <input type="number" ng-model="vm.system.price" />
            </div>
            <div class="block">
                <label style="display:inline-block; text-align:right; width:140px">Inventory Count: </label>
                <input type="number" ng-model="vm.system.inventoryCount" />
            </div>
        </form>

        <div>
            <h2 style="display:inline-block">Selected Parts List</h2>
        </div>

        <table ng-table="vm.parts" class="table table-condensed table-bordered table-striped">
            <thead>
                <tr>
                    <th>Part Number</th>
                    <th>Part Name</th>
                    <th>Manufacturer</th>
                    <th>Remove from System</th>
                </tr>
            </thead>
            <tr ng-repeat="part in vm.parts">
                <td class="text-left">{{part.partNum}}</td>
                <td class="text-left">{{part.partName}}</td>
                <td class="text-left">{{part.manufacturer}}</td>
                <td class="text-left"><input type="checkbox" ng-click="vm.removePart(part)" /></td>
            </tr>
        </table>

        <div>
            <h2 style="display:inline-block">Potential Parts List</h2>
        </div>

        <table ng-table="vm.potentialParts" class="table table-condensed table-bordered table-striped">
            <thead>
                <tr>
                    <th>Part Number</th>
                    <th>Part Name</th>
                    <th>Manufacturer</th>
                    <th>Add to System</th>
                </tr>
            </thead>
            <tr ng-repeat="part in vm.potentialParts">
                <td class="text-left">{{part.partNum}}</td>
                <td class="text-left">{{part.partName}}</td>
                <td class="text-left">{{part.manufacturer}}</td>
                <td class="text-left"><input type="checkbox" ng-click="vm.addPart(part)" /></td>
            </tr>
        </table>

        <button ng-click="vm.submit()">Submit</button>
    </div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
<script type="text/javascript" src="js/site.js"></script>